/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* index.css */
body {
    background-color: #1e1e1e;
  }
  .thunder{
    display: flex;

  }
  .game-area {
    position: relative;
    width: 500px;
    height: 400px;
    border: 2px solid #dc042c;
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px #abbfc0;
  }
  
  @media only screen and (max-width: 800px) {
    .thunder{
        display: flex;
        flex-direction: column;
    }
    .game-area {
        position: relative;
        width: 250px;
        height: 200px;
    }
  
    .snake {
        width: 12px;
        height: 12px;
    }
  }
  
  .snake {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #dc042c;
    border: 1px solid white;
    z-index: 2;
  }
  
  .food {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color:#dc042c;
    border-radius: 50%;
    z-index: 1;
  }